---
import Head from "../../components/solid/Head.astro";
import Header from "../../components/solid/Header.astro";
import Banner from "../../components/solid/Banner.astro";
import Menu from "../../components/solid/Menu.astro";
import Main from "../../components/solid/Main.astro";
import Footer from "../../components/solid/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <Head
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      subTitle="Museum Main"
    />
  </head>
  <body class="is-preload">
    <!-- Page Wrapper -->
    <div id="page-wrapper">
      <!-- Header -->
      <header id="header" class="alt">
        <Header />
      </header>

      <!-- Menu -->
      <nav id="menu">
        <Menu />
      </nav>

      <!-- Banner -->
      <section id="banner">
        <Banner />
      </section>

      <!-- Wrapper -->
      <Main />

      <!-- Footer -->
      <footer>
        <Footer />
      </footer>
    </div>

    <!-- Scripts -->
    <script is:inline src="/solid/jquery.min.js"></script>
    <script is:inline src="/solid/jquery.scrollex.min.js"></script>
    <script is:inline src="/solid/browser.min.js"></script>
    <script is:inline src="/solid/breakpoints.min.js"></script>
    <script src="../../scripts/solid/util.js"></script>
    <script src="../../scripts/solid/main.js"></script>
  </body>
</html>
