---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
---
<div class="inner">
  <div class="logo"><span class="icon fa-gem"></span></div>
  <h2>{SITE_TITLE}</h2>
  <p>
   {SITE_DESCRIPTION}
  </p>
</div>
