<div class="inner">
  <h2>Menu</h2>
  <ul class="links">
    <li><a href="/home">Home</a></li>
    <li><a href="/home/about">About</a></li>
    <li><a href="/home/services">Services</a></li>
    <li><a href="/">Landing</a></li>
  </ul>
  <a href="#" class="close">Close</a>
</div>
