---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
---

<div class="inner split">
  <div>
    <section>
      <h2>{ SITE_TITLE }</h2>
      <p>
     { SITE_DESCRIPTION }
      </p>
    </section>
    <section>
      <h2>Follow us on ...</h2>
      <ul class="icons">
        <li>
          <a href="#" class="icon brands fa-twitter"
            ><span class="label">Twitter</span></a
          >
        </li>
        <li>
          <a href="#" class="icon brands fa-facebook-f"
            ><span class="label">Facebook</span></a
          >
        </li>
        <li>
          <a href="#" class="icon brands fa-instagram"
            ><span class="label">Instagram</span></a
          >
        </li>
        <li>
          <a href="#" class="icon brands fa-github"
            ><span class="label">GitHub</span></a
          >
        </li>
        <li>
          <a href="#" class="icon brands fa-dribbble"
            ><span class="label">Dribbble</span></a
          >
        </li>
        <li>
          <a href="#" class="icon brands fa-linkedin-in"
            ><span class="label">LinkedIn</span></a
          >
        </li>
      </ul>
    </section>
    <p class="copyright">
      &copy; { SITE_TITLE } Design: <a href="http://html5up.net"
        >HTML5 UP</a
      >.
    </p>
  </div>
  <div>
    <section>
      <h2>Menu</h2>
      <ul class="actions">
        <li><button><a href="/home">Home</a></button></li>
        <li><button><a href="/space">Space</a></button></li>
        <li><button><a href="/globalization">Globalization</a></button></li>
        <li><button><a href="/">Landing</a></button></li>
      </ul>
    </section>
  </div>
</div>
