---
import { SITE_TITLE } from "../../consts";
---
<h1><a href="#index"><strong>{ SITE_TITLE }</strong></a></h1>
<nav>
  <ul>
    <li><a href="#footer" class="icon solid fa-info-circle">Technology</a></li>
  </ul>
</nav>
