---
import { SITE_TITLE } from "../../consts";
---

<header id="header">
  <h1>{ SITE_TITLE }</h1>
  <p>
    Our museum’s seasonal exhibits capture the essence of Philippine Popular
    Culture. This season, explore the dynamic 2000-2010 era, focusing on
    technology, globalization, and space.
  </p>
  <h2>Reviving the Pulse of a Decade: Explore Philippine Popular Culture!</h2>
</header>
